.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo{
    font-family:monospace;
    font-size: 1.8rem;
    font-weight: 700;
}

.homeLink{
    text-decoration: none;
    color: inherit;
}