.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 1rem 2rem;
    box-shadow: 0px 7px 10px 0px rgba(181, 194, 204, 0.2);
}

.logo{
    font-family:monospace;
    font-size: 1.8rem;
    font-weight: 700;
}

.homeLink{
    text-decoration: none;
    color: inherit;
}

.userBtns{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menuBtn{
    display: none;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

@media(max-width: 768px){
    .wrapper{
        gap:1rem;
    }
    .userBtns{
        display: none;
    }
    .menuBtn{
        display: block;
    }
    .logo{
        font-size: 1.4rem;
    }
    .logoLink{
        width: 7rem;
    }
}
