.wrapper {
    display: flex;
    align-items: stretch;     /* <- растягиваем по высоте */
    gap: 2rem;
    padding: 2rem;
}

.info {
    max-width: 450px;
    padding: 2rem 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.info, .sliderContainer {
    flex: 1;                  /* <- одинаковый вес, чтобы заполнять строку */
    display: flex;
    flex-direction: column;
}


.sliderContainer {
    max-width: 400px;
    overflow: visible;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.details{
    width: 350px;
}

.image {
    width: 300px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.field {
    font-size: 1.4rem;
    color: #333;
}

.field strong {
    color: #111;
}

