.wrapper {
    min-height: 75dvh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow: visible;
    gap: 2rem;
}
  
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 450px;
    width: 100%;
    padding: 2rem 1rem ;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
  
.imageContainer {
    display: flex;
    justify-content: center;
}
  
.details{
    width: 350px;
}
.image {
    width: 300px;
}
  
.title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}
  
.field {
    font-size: 1.4rem;
    color: #333;
}
  
.field strong {
    color: #111;
}
  