.wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    min-height: 100vh;
}
.heading{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.main{
    display: flex;
    justify-content: center;
    min-height: 70dvh;
}